<p>Register new user</p>

<div>
	<%= form_with url: register_index_path, method: :post do |f| %>
	  <%= f.text_field :email, placeholder: 'Enter email' %>
	  <%= f.password_field :password, placeholder: 'Enter password'  %>
	  <%= f.submit 'Register' %>
	<% end %>
</div>